---
---

<>
  <section class="pb-4 mt-4 border-b-4 border-gray-300 first:mt-0">
    <!--Summary ---------------------------------------------------------------------------------------------------------->
    <section class="pb-2 pb-4 mt-0 border-b-4 border-gray-300 first:mt-0">
      <!-- To keep in the same column -->
      <section class="break-inside-avoid">
        <h2
          class="mb-2 text-xl font-bold tracking-widest text-gray-700 print:font-normal"
        >
          SUMMARY
        </h2>

        <section class="mb-2 break-inside-avoid">
          <p class="mt-2 leading-normal text-gray-700 text-md">
            Full stack autodiadact with demonstrable capacity to assess and
            manage complex business needs and surmount obstacles in the way
            thereof thus producing refined and accessible work products.
          </p>
        </section>
      </section>
    </section>

    <!-- To keep in the same column ------------------------------------------------------------------------->
    <section class="break-inside-avoid pb-4 mt-4">
      <h2
        class="mb-2 text-xl font-bold tracking-widest text-gray-800 print:font-normal"
      >
        EXPERIENCE
      </h2>
      <!--Job 1-->
      <section class="mb-2 break-inside-avoid border-b-2 border-gray-300">
        <header>
          <h3 class="text-md font-semibold text-gray-800 leading-snugish">
            Full Stack Web Developer
          </h3>
          <p class="leading-normal text-sm text-gray-500">
            Jun 2018 &ndash; Present | Freelance
          </p>
        </header>
        <ul class="mt-2 font-normal text-md text-gray-700 leading-snugish pl-3">
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Developed high-quality web applications from scratch, using a range of
            programming languages, including HTML, CSS, JavaScript, PHP, and Python,
            to meet clients' specific needs
          </li>
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Utilized various front-end frameworks, such as React, Angular, and Vue.js,
            and back-end frameworks, such as Node.js, Express, and Laravel, to deliver
            robust and scalable web solutions.
          </li>
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Designed and implemented databases using SQL and NoSQL technologies,
            such as MySQL, PostgreSQL, MongoDB, and Firebase, to store and manage
            data effectively
          </li>
        </ul>
      </section>
      <!-- job 2  -->
      <section class="mb-2 break-inside-avoid border-b-2 border-gray-300">
        <header>
          <h3 class="text-md font-semibold text-gray-800 leading-snugish">
            Computer Repair Technician
          </h3>
          <p class="leading-snugish text-sm text-gray-500">
            Mar 2018 &ndash; Present | Freelance
          </p>
        </header>
        <ul class="mt-2 font-normal text-md text-gray-700 leading-snugish pl-3">
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Provided freelance computer repair services to individual and business
            clients, including troubleshooting, diagnosis, and repair of hardware
            and software issues.
          </li>
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Demonstrated expertise in a range of operating systems, including Windows,
            macOS, and Linux, and a variety of hardware components, including CPUs,
            RAM, hard drives, and graphics cards.
          </li>
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Offered customized solutions to clients, including hardware upgrades,
            software installations, and virus/malware removal, to meet their specific
            needs.
          </li>
        </ul>
      </section>
      <!-- job 3 -->
      <section class="mb-2 break-inside-avoid border-b-2 border-gray-300">
        <header>
          <h3 class="text-md font-semibold text-gray-800 leading-snugish">
            Assistant Manager
          </h3>
          <p class="leading-snugish text-sm text-gray-500">
            May 2012 &ndash; Apr 2018 | Pet Food Express
          </p>
        </header>
        <ul class="mt-2 font-normal text-md text-gray-700 leading-snugish pl-3">
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Trained and supervised staff on product knowledge, customer engagement,
            and sales techniques.
          </li>
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Maintained a clean and organized store environment, ensuring the highest
            level of customer satisfaction.
          </li>

          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Demonstrated a deep understanding of the pet food industry, including
            trends, products, and competitors, to provide customers with informed
            recommendations and advice.
          </li>
        </ul>
      </section>
      <!-- job 4 -->
      <section class="mb-2 break-inside-avoid border-b-0 border-gray-300">
        <header>
          <h3 class="text-md font-semibold text-gray-800 leading-snugish">
            Executive Assistant
          </h3>
          <p class="leading-snugish text-sm text-gray-500">
            Jun 2009 &ndash; Dec 2011 | 360 Custom Closets and Cabinets
          </p>
        </header>
        <ul class="mt-2 font-normal text-md text-gray-700 leading-snugish pl-3">
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Provided high-level administrative support to the small business executive,
            including managing schedules, booking travel arrangements, and coordinating
            meetings and events.
          </li>

          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Managed communication on behalf of the executive, including answering
            phone calls and emails, and responding to inquiries and requests in a
            timely and professional manner.
          </li>
          <li>
            <span class="transform -translate-y-px select-none text-gray-500">
              &rsaquo;
            </span>
            Coordinated and maintained relationships with vendors, clients, and other
            external stakeholders, ensuring that all interactions were professional
            and aligned with the business's values.
          </li>
        </ul>
      </section>

      <!--                Additional Jobs Would Go Here-->
    </section>
  </section>
</>
