---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en-us" class="mx-auto container px-24">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>

  <body>
    <Header title={SITE_TITLE} />

    <div class="relative z-20 flex items-center">
      <div
        class="container relative flex flex-col items-center justify-between px-6 py-4 mx-auto"
      >
        <div class="flex flex-col">
          <!-- <img src="/images/person/11.webp" class="mx-auto rounded-full w-28"/> -->
          <p class="my-6 text-3xl text-center dark:text-white">
            Hello👋, I&#x27;m Alex Cosmas
          </p>
          <div
            class="max-w-3xl py-2 mx-auto text-3xl font-bold text-center text-gray-800 md:text-5xl dark:text-white"
          >
            <h2>UXE</h2>
            <h4 class="text-2xl">(User Experience Engineer)</h4>
          </div>
          <div class="max-w-2xl mt-10">
            <div class="space-y-4">
              <p>
                I am a professional with 7+ years of experience working in
                several industries. (Branding/Advertising, Marketing, Health &
                Safety, Corporate Governance.)
              </p>
              <p>I currently serve at Simple Formations as Lead UX Engineer.</p>

              <p>
                I best descibe myself as curious a individual who loves to solve
                unique challenges that have social impactful through design and
                code.
              </p>
            </div>
          </div>

          <!-- <div class="flex items-center justify-center mt-4">
										<a href="#" class="px-4 py-2 my-2 text-gray-800 uppercase bg-transparent border-2 border-gray-800 md:mt-16 dark:text-gray-800 dark:bg-white hover:dark:bg-gray-100 dark:text-white hover:bg-gray-800 hover:text-white text-md">
												CONNECT WITH ME
										</a>
								</div> -->
        </div>
      </div>
    </div>
    <script>
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
