---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us" class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-lg">
    <Header />
    <main class="mx-auto container">
      <content>
        <div class="">
          <div class="">
            <div>
              <h1 class="text-5xl font-semibold leading-tight text-gray-300">
                Work
              </h1>
            </div>
            <div class="text-lg text-grey-darkest leading-normal spaced-y-6">
              <p class="max-w-3xl">
                Here are some of the other projects I've worked on in the past —
                some still actively maintained, and others retired or on pause.
              </p>
            </div>

            <hr class="my-10" />
          </div>
        </div>
      </content>
    </main>
  </body>
</html>
